{% extends "blogengine/includes/base.html" %}


{% block content %}
<div class="container">

        <div class="row">
            <div class="col-lg-8">
                        <!-- blog entry -->
                        <h1><a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                        </h1>
                        <p class="lead">by <a href="">{{ object.author.username }}</a>
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-time"></span> Posted on {{ object.pub_date|date:"M d, Y" }} at {{ object.pub_date|date:"f A" }}</p>
                        <p>
                            Category: <a href="{{ object.category.get_absolute_url }}">{{ object.category.name }}</a>
                        </p>
                        <p>
                            Tags:
                            {% for tag in object.tags.all %}
                                <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                            {% endfor %}
                        </p>
                        <hr>

                        <img src="http://placehold.it/900x300" class="img-responsive">
                        <hr>
                        <div>
                            {{ object.text|removetags:"script"|safe }}
                        </div>

                        <hr>
                <div>
                    <h4>Comments</h4>
                    <div class="fb-comments" data-width="700" data-href="http://{{ object.site }}{{ object.get_absolute_url }}"   data-num-posts="10"></div>
                    <style>
                        .fb-comments, .fb-comments iframe[style] {width: 100% !important;}
                        .fb_iframe_widget span[style]{width:100% !important;}
                    </style>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /well -->
                <div class="well">
                    <h4>Popular Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#dinosaurs">Dinosaurs</a>
                                </li>
                                <li><a href="#spaceships">Spaceships</a>
                                </li>
                                <li><a href="#fried-foods">Fried Foods</a>
                                </li>
                                <li><a href="#wild-animals">Wild Animals</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#alien-abductions">Alien Abductions</a>
                                </li>
                                <li><a href="#business-casual">Business Casual</a>
                                </li>
                                <li><a href="#robots">Robots</a>
                                </li>
                                <li><a href="#fireworks">Fireworks</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Bootstrap's default wells work great for side widgets! What is a widget anyways...?</p>
                </div>
                <!-- /well -->
            </div>
        </div>
</div>

{% endblock %}